body {
  background-color: bisque;
  font-family: "Courier New", Courier, monospace;
}
.disabled {
  display: none;
}
.title {
  justify-content: center;
  text-align: center;
}
.menuList {
  list-style: none;
}
.Menu {
  margin-top: 200px;
  justify-content: center;
  text-align: center;
  font-size: large;
}
